# Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [42]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

#Check Path Output
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [43]:
#List Columns in Data Frame
list (purchase_data)

['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price']

In [44]:
#Find Total Number of Players using 'SN'
#There appear to be repeat buyers, will need unique function to single out individual players
#Of 780 buyers, there are 576 unique players

players = purchase_data['SN'].nunique()

players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [45]:
#Find Number of Unique Items Using Item ID
unique_items =purchase_data['Item ID'].nunique()
unique_items

183

In [46]:
#Find Revenue by Summing Values Under Price
revenue = purchase_data ['Price'].sum()
revenue

2379.77

In [47]:
#Get Count of Total Purchases Using Purchase ID Col
total = len(purchase_data['Purchase ID'])
total

780

In [48]:
#Get Avg Price of Purchases
avg_price = round(revenue/total,2)
avg_price

3.05

In [49]:
#Building Data Frame from Newly Solved Components
analysis_df= pd.DataFrame({"Number of Unique Items": [unique_items],
                           "Average Price" : [avg_price], 
                           "Number of Purchases": [total],
                           "Total Revenue" : [revenue]
})
analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

In [50]:
#Changing Average Price and Revenue to Dollar Format
analysis_df = analysis_df.set_index("Number of Unique Items")
analysis_df.style.format({"Average Price": "${:.2f}", "Total Revenue": "${:.2f}"})
analysis_df

                        Average Price  Number of Purchases  Total Revenue
Number of Unique Items
183                              3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [51]:
# Group Gender Demographics
#Find Number of Unique Male Players
male= purchase_data[purchase_data["Gender"] == "Male"]["SN"].nunique()
male

484

In [52]:
#Find Number of Unique Male Players
female = purchase_data[purchase_data["Gender"] == "Female"]["SN"].nunique()
female

81

In [53]:
#Find Number of Other/Non-Disclosed Gendered Players
other = players- male - female
other

11

In [54]:
#Calculate Percentage of Gender Demographics
male_perc = ((male/players)*100)
male_perc

84.02777777777779

In [55]:
female_perc = ((female/players)*100)
female_perc

14.0625

In [56]:
other_perc = ((other/players)*100)
other_perc

1.9097222222222223

In [57]:
gender_df= pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                         "Percentage of Players": [male_perc, female_perc, other_perc],
                         "Total Count": [male, female, other]}, 
                        columns=["Gender", "Total Count", "Percentage of Players"])

gender_df_final = gender_df.set_index("Gender")
gender_df_final.style.format({"Percentage of Players": "{:.2f%}"}) 
gender_df_final

                       Total Count  Percentage of Players
Gender
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [58]:
m_purchase = purchase_data[purchase_data["Gender"] == "Male"]['Purchase ID'].count()
m_purchase

652

In [59]:
f_purchase = purchase_data[purchase_data["Gender"] == "Female"]['Purchase ID'].count()
f_purchase

113

In [60]:
other_purchase = total - m_purchase - f_purchase
other_purchase

15

In [61]:
m_price_avg = round(purchase_data[purchase_data["Gender"] == "Male"]['Price'].mean(),2)
m_price_avg

3.02

In [62]:
f_price_avg = round(purchase_data[purchase_data["Gender"] == "Female"]['Price'].mean(),2)
f_price_avg

3.2

In [63]:
o_price_avg = round(purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]['Price'].mean(),2)
o_price_avg

3.35

In [64]:
m_total_purchase = purchase_data[purchase_data["Gender"] == "Male"]['Price'].sum()
m_total_purchase

1967.64

In [65]:
f_total_purchase = purchase_data[purchase_data["Gender"] == "Female"]['Price'].sum()
f_total_purchase

361.94

In [66]:
o_total_purchase = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]['Price'].sum()
o_total_purchase

50.19

In [67]:
m_avg_buy = m_total_purchase/male
f_avg_buy = f_total_purchase/female
o_avg_buy = o_total_purchase/other

In [68]:
#Create Summary Table for Calculation Results
gender_purchase_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], 
                                   "Purchase Count": [m_purchase, f_purchase, other_purchase],
                                   "Average Purchase Price": [m_price_avg, f_price_avg, o_price_avg], 
                                   "Total Purchase Value": [m_total_purchase, f_total_purchase, o_total_purchase],
                                   "Avg Total Purchase Per Person": [m_avg_buy, f_avg_buy, o_avg_buy]}, 
                                  columns = ["Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase Per Person"])

gender_purchase_final = gender_purchase_df.set_index("Gender")
gender_purchase_final.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Avg Total Purchase Per Person": "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [69]:
#Establish bins for ages
#Categorize the existing players using the age bins. Hint: use pd.cut()

preteen = purchase_data[(purchase_data["Age"] >=10) & (purchase_data["Age"] <=14)]
teen = purchase_data[(purchase_data["Age"] >=15) & (purchase_data["Age"] <=19)]
young_adult= purchase_data[(purchase_data["Age"] >=20) & (purchase_data["Age"] <=24)]
late_twenty= purchase_data[(purchase_data["Age"] >=25) & (purchase_data["Age"] <=29)]
early_thirty = purchase_data[(purchase_data["Age"] >=30) & (purchase_data["Age"] <=34)]
late_thirty = purchase_data[(purchase_data["Age"] >=35) & (purchase_data["Age"] <=39)]
adult = purchase_data[(purchase_data["Age"] >=40)] 
child = purchase_data[purchase_data["Age"] <10]

In [70]:
#Calculate the numbers and percentages by age group
#Create a summary data frame to hold the results
#Optional: round the percentage column to two decimal points

age_df = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
                        
                       "Percentage of Players": [(child["SN"].nunique()/players)*100, 
                                                  (preteen["SN"].nunique()/players)*100, 
                                                  (teen["SN"].nunique()/players)*100, 
                                                  (young_adult["SN"].nunique()/players)*100,
                                                  (late_twenty["SN"].nunique()/players)*100,
                                                  (early_thirty["SN"].nunique()/players)*100,
                                                  (late_thirty["SN"].nunique()/players)*100,
                                                  (adult["SN"].nunique()/players)*100],
                       
                       "Total Count": [child["SN"].nunique(),
                                        preteen["SN"].nunique(),
                                        teen["SN"].nunique(),
                                        young_adult["SN"].nunique(),
                                        late_twenty["SN"].nunique(),
                                        early_thirty["SN"].nunique(),
                                        late_thirty["SN"].nunique(),
                                        adult["SN"].nunique()]
                       })

age_final = age_df.set_index("Age")
age_final.style.format({"Percentage of Players": "{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [71]:
#Bin the purchase_data data frame by age & Create Summary Data Frame
age_purchase = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
                             
                             "Purchase Count": [child["Price"].count(), 
                                                 preteen["Price"].count(),
                                                 teen["Price"].count(),
                                                 young_adult["Price"].count(),
                                                 late_twenty["Price"].count(),
                                                 early_thirty["Price"].count(),
                                                 late_thirty["Price"].count(),
                                                 adult["Price"].count()],
                              
                             "Average Purchase Price": [child["Price"].mean(),
                                                         preteen["Price"].mean(),
                                                         teen["Price"].mean(),
                                                         young_adult["Price"].mean(),
                                                         late_twenty["Price"].mean(),
                                                         early_thirty["Price"].mean(),
                                                         late_thirty["Price"].mean(),
                                                         adult["Price"].mean()],
                             
                                                    "Total Purchase Value":[child["Price"].sum(),
                                                       preteen["Price"].sum(),
                                                       teen["Price"].sum(),
                                                       young_adult["Price"].sum(),
                                                       late_twenty["Price"].sum(),
                                                       early_thirty["Price"].sum(),
                                                       late_thirty["Price"].sum(),
                                                       adult["Price"].sum()],
                             
                                                         "Avg Total Purchase Per Person": [child["Price"].sum()/child['SN'].nunique(),
                                                                preteen["Price"].sum()/preteen['SN'].nunique(),
                                                                teen["Price"].sum()/teen['SN'].nunique(), 
                                                                young_adult["Price"].sum()/young_adult['SN'].nunique(),
                                                                late_twenty["Price"].sum()/late_twenty['SN'].nunique(), 
                                                                early_thirty["Price"].sum()/early_thirty['SN'].nunique(),
                                                                late_thirty["Price"].sum()/late_thirty['SN'].nunique(), 
                                                                adult["Price"].sum()/adult['SN'].nunique() ]}, 
                             
                                                        columns =["Age", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase Per Person"])
#Set Index to Age
age_purchase_final = age_purchase.set_index("Age")

#Clean Data ( I tried)
# age_purchase_final.style.format({"Average Purchase Price": "${:.2f}",
#                                  "Total Purchase Value": "${:.2f}",
#                                  "Avg Total Purchase Per Person": "${:.2f}"})

age_purchase_final.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [72]:
#Identify Top Spenders by SN
spenders_df = pd.DataFrame(purchase_data)
top_spend = spenders_df.groupby(['SN'])
top_spend

In [73]:
#Build Data Frame with Purchase Count/Avg Price/Value
top_spend_df = pd.DataFrame({"Purchase Count":top_spend["Price"].count(),
                             "Average Purchase Price":top_spend["Price"].mean(),
                             "Total Purchase Value":top_spend["Price"].sum()})

#Sort Descending Total Purchase
top_spend_df = top_spend_df.sort_values("Total Purchase Value", ascending=False)

#Clean Format
top_spend_df["Average Purchase Price"] = top_spend_df["Average Purchase Price"].map("${:.2f}".format)
top_spend_df["Total Purchase Value"] = top_spend_df["Total Purchase Value"].map("${:,.2f}".format)

#Tried formatting with this, didn't work. 
#top_spend_df.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

#Check Output
top_spend_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [74]:
#Find Most Popular Items
pop_items = pd.DataFrame(purchase_data)

#Calculate Purchase Count, Item Price, and Total Purchase Value
popitems_grp = pop_items.groupby(['Item ID','Item Name'])
pop_items_df = pd.DataFrame({"Purchase Count":popitems_grp["Price"].count(),
                             "Item Price":popitems_grp["Price"].mean(),
                             "Total Purchase Value":popitems_grp["Price"].sum()})

#Sort Descending Purchase Count
pop_items_df = pop_items_df.sort_values("Purchase Count", ascending=False)

#Clean Data Format
pop_items_df["Item Price"] = pop_items_df["Item Price"].map("${:.2f}".format)
pop_items_df["Total Purchase Value"] = pop_items_df["Total Purchase Value"].map("${:,.2f}".format)

pop_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [75]:
#Find Most Profitable Items
profit_df = pd.DataFrame(purchase_data)

#Calculate Purchase Count, Item Price, Total Purchase Value
profit_grp = profit_df.groupby(['Item ID','Item Name'])
profit_df = pd.DataFrame({"Purchase Count":profit_grp["Price"].count(),
                          "Item Price":profit_grp["Price"].mean(),
                          "Total Purchase Value":profit_grp["Price"].sum()})

#Sort Descending Total Purchase Value
profit_df = profit_df.sort_values("Total Purchase Value", ascending=False)

#Clean Data Format
profit_df["Item Price"] = profit_df["Item Price"].map("${:.2f}".format)
profit_df["Total Purchase Value"] = profit_df["Total Purchase Value"].map("${:,.2f}".format)

#Check Output
profit_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80